<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>
<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1>Edit a Incident</h1>
            <form class="form" method="post">

                <div class="form-group">
                    <label for="nameTextField">Issue</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter a title for the incident"
                    name="name" 
                    value="<%= item.name%>"
                    required>
                </div><br>
            
                <div class="form-group">
                    <label for="catagoryTextField">Status</label>
                    <input type="text" class="form-control"
                    id="catagoryTextField"
                    placeholder="Enter the current status of the incident"
                    name="catagory" 
                    value="<%= item.catagory%>"
                    required>
                </div><br>
            
                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter a brief description of the incident"
                    name="description" required><%= item.description%></textarea>
                </div><br>
            
                <div class="form-group">
                    <label for="stockpileTextField">Date</label>
                    <input type="date" class="form-control"
                    id="stockpileTextField"
                    placeholder="Enter the number of items in stock"
                    name="stock" 
                    value="<%= item.stock %>"
                    required>
                </div><br>
            
                <div class="form-group">
                    <label for="priceTextField">Time</label>
                    <input type="time" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the time of the incident"
                    name="price" 
                    value="<%= item.price%>"
                    required>
                </div> 
              <br>
              <button class="btn-btn-primary" type="submit">
                <i class="fas fa-edit"></i>Comfirm</button>

              <a href="/incident-list" class="btn btn-warning">
                <i class="fas fa-undo"></i>Cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs')%>