<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>
<link rel='stylesheet' href='/Content/login.css' />
<link rel='stylesheet' href='/Content/nav.css' />

<main class="flex-container">
    <!--Message Area-->
    <% if (message.lenth > 0) { %>
    <div class="alert alter-danger">
        <%= message %>
    </div>
    <% } %>
    <div class="container-1"><br>
        <h5>Welcome to Incident Report Management system</h5>
    </div>
    <div class="container-2">
            <div class="offset-md-4 col-md-4">
                <h1>Login</h1>
                <form method="post" autocomplete="off">
                    <fieldset class="form-group">
                        <label for="username"></label>
                        <input type="text" class="form-control"
                        name="username" 
                        placeholder="Enter username"
                        id="username" required autofocus>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password"></label>
                        <input type="password" class="form-control"
                        name="password" 
                        placeholder="Enter password"
                        id="password" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="token"></label>
                        <input type="password" class="form-control"
                        name="token" 
                        placeholder="Enter OTP"
                        id="token">
                        <div class="seperate">
                        or
                        </div>
                        <div class="seperate1">
                        <a href="/register">Create a New Account</a>
                        </div>
                    </fieldset>
                    <fieldset class="form-group text-right">
                        <input type="submit" class="btn btn-primary"
                        value="Login">
                        <a class="btn btn-warning" href="/">Cancel</a>
                    </fieldset>
                    </div>
                </form>
                </div>
        
    </div>
</main>
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>